@import "tailwindcss";

:root {
  --background: #4B4376;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4B4376;
    --foreground: #E8BCB9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-geist-sans);
  
}

